@model EmployeeEditViewModel
@inject IDataProtectionProvider dataProtectionProvider
@inject DataProtecionPurposeStrings dataProtecionPurposeStrings

@{
    ViewData["Title"] = "Edit";
    IDataProtector protector;
    protector = dataProtectionProvider.CreateProtector(dataProtecionPurposeStrings.EmployeeIdRouteValue);
    var Id = Model.EmployeeEncryptedId;
    int decryptedId;
    int y;
    if (int.TryParse(Id, out y))
    {
        decryptedId = y;
    }
    else
    {
        decryptedId = Convert.ToInt32(protector.Unprotect(Id));
    }
}

@{
    ViewData["Title"] = "Edit";
}

<h6 class="display-4 text-center text-primary">Edit Employee</h6>
<hr />
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="@decryptedId" hidden class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="@decryptedId" hidden class="form-control" />
                    <span asp-validation-for="@decryptedId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="FirstName" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="LastName" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LevelId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="Email" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="Phone" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="DateCreated" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="DateCreated" disabled class="form-control" />
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="DateModified" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="DateModified" class="form-control" />
                    <span asp-validation-for="DateModified" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="DepartmentId" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <select asp-for="DepartmentId" asp-items="@(new SelectList(Model.DepartmentList, "Id", "Name"))"
                            class="form-control">
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="LevelId" class="col-form-label"></label>
                </div>
                <div class="col-sm-9">
                    <select asp-for="LevelId" asp-items="@(new SelectList(Model.LevelList, "Id", "Name"))"
                            class="form-control">
                    </select>
                    <span asp-validation-for="LevelId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary ml-5 mr-3">Back to List</a>
            </div>
        </form>
    </div>
</div>


