@using LeaveApp.ReportModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HoldEmployeeListVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Employee Reports";
    int ind = 0; int ind1 = 0;
}


<style>
    #ExcelBtn {
        background-color: rgb(18, 38, 63) !important;
        color: white !important;
    }
</style>
<div class="col-lg-12 col-md-12 mt-lg-12">
    <div class="card">
        <div class="card-body">

            <div>
                <div class="card shadow mb-4">
                    <div class="row">
                        <div class="card-body col-lg-6 col-sm-12">

                            <h1 class="text-center display-4 text-primary">@ViewBag.Number1</h1>
                            <h1>@ViewBag.Number</h1>

                            <form method="post">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="EmployeeListVMSearchParams.StartDate" class="col-md-3 form-label">Start Date</label>
                                    <input type="date" asp-for="EmployeeListVMSearchParams.StartDate" placeholder="Start Date" class="form-control col-12" />
                                </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                    <label asp-for="EmployeeListVMSearchParams.EndDate" class="col-md-3 form-label">End Date</label>
                                    <input type="date" asp-for="EmployeeListVMSearchParams.EndDate" placeholder="End Date" class="form-control col-12" />
                                </div>
                                </div>
                                <br />
                                <input type="submit" class="btn btn-primary mt-1" value="Submit" />
                            </form>
                        </div>
                        <div class="card-body col-lg-6 col-sm-12 mt-4">
                                <form asp-action="GetAllEmployee" asp-controller="Report" asp-area="" method="get">
                                    <input asp-for="EmployeeListVMSearchParams.StartDate" name="startDate" id="startDate" type="hidden" value="@Model.EmployeeListVMSearchParams.StartDate" />
                                    <input asp-for="EmployeeListVMSearchParams.EndDate" name="endDate" id="endDate" type="hidden" value="@Model.EmployeeListVMSearchParams.EndDate" />
                                    <div class="row">
                                        <div class="col-sm-8 ml-3">
                                            <input asp-for="SearchText" name="SearchText" placeholder="Enter employee name" class="form-control" />
                                            <h6 class="text-dark mt-2" style="font-size: 13px;">Search by employee name</h6>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="submit" value="Search" class="btn btn-info float-left mr-3" />
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                    @if (ViewBag.PieChart != null)
                    {
                        <div class="col-6">
                            <img src="data:image/png;base64,@System.Convert.ToBase64String((byte[])ViewBag.PieChartBytes)" alt="Pie Chart" />
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>


    <div class="row ">
        <div class="card-body col-12">
            @if (Model != null && Model.HoldEmployeeListVMs.Count() > 0)
            {
                var queryString = $"startDate={Model.EmployeeListVMSearchParams.StartDate}&endDate={Model.EmployeeListVMSearchParams.EndDate}";

                <div class="row">
                    <span class="col-3 mb-3">

                        <a class="btn btn-sm shadow-sm page-link" href="~/Report/ExportEmployeeReporToExcell?@queryString" id="ExcelBtn">
                            <i class="fa fa-download fa-sm text-white-50"></i>
                            Export to excel
                        </a>
                    </span>


                </div>



                <div class="modal" tabindex="-1" id="myModal">
                    @* <form> *@
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="myModalBody">
                                    <p>Modal body text goes here.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a type="button" class="btn btn-primary" asp-action="IndexXX" asp-asp-controller="Report">Save changes</a>
                                </div>
                            </div>
                        </div>
                    @* </form> *@
                    
                </div>


                <table class="table table w-100" id="dataTable" width="100%" cellspacing="0"
                       style="color:black; font-size: 12px;">
                    <thead style="text-align: center;">
                        <tr>
                            <th>S/N</th>
                            <th>No</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>View Detail</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center; line-height: 45px;">
                        @foreach (var item in Model.HoldEmployeeListVMs)
                        {
                            ind++;
                            var continueId = "continue_" + ind;
                            var continueBtn = "continueBtn_" + ind;
                            var sessionId = "sessionId_" + ind;
                            var lblId = "lblId_" + ind;
                            <tr>
                                <td>
                                    @ind
                                </td>
                                <td>
                                    @item.EmpId
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.StartDate
                                </td>
                                <td>
                                    @item.EndDate
                                </td>
                                <td>
                                    <textarea class="form-control is-invalid" id="validationTextarea_@item.EmpId" placeholder="Enter reason(s) for issueing complaince directive" required></textarea>
                                </td>
                                <td>
                                    <input type="checkbox" class="checkbox" id="checkbox_@item.EmpId" value="@item.EmpId">@item.Name<br>
                                </td>
                                <td>
                                    <button><a href="#" type="button" onclick="showEmployee(@item.EmpId)" />View</button>
                                </td>
                                <td>
                                    <div>
                                        <h1 id="@sessionId">Session: @ind </h1>
                                        <label id="@lblId"></label>
                                        <br />
                                        <input type="text" class="btn btn-primary mt-1" id="@continueId" />
                                        <button id="@continueBtn" onclick="continueFunc(@continueId, @continueBtn, @sessionId, @lblId)">Continue</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        
                    </tbody>

                </table>


                <form asp-action="EmployeeCreate" asp-controller="Report">
                    <input asp-for="@Model.EmployeeEditMultipleVM.SelectedList" type="text" hidden id="selectedList" />
                    <br />
                    <input type="submit" class="btn btn-primary mt-1" value="Proceed" />
                </form>


                @* Post Form data to backend by Id (#myForm) using JQuery*@
                <form method="post" id="myForm">
                   @Html.TextBoxFor(model => model.EmployeeCreateVM.FirstName, new {@class = "form-control"})
                   <br />
                   @Html.TextBoxFor(model => model.EmployeeCreateVM.LastName, new {@class = "form-control"})
                   <br/>
                   @Html.TextBoxFor(model => model.EmployeeCreateVM.Age, new {@class = "form-control"})

                    <input id="btnSubmit" type="button" class="btn btn-success m-1" value="Submit" />
                </form>



                


                @if (Model.Pager.EndPage > 1)
                {
                    var EndPage = Model.Pager.StartPage < 8 ? Model.Pager.EndPage : 7;

                    <div class="row">
                        <div class="col-5">
                            <ul class="pagination">
                                @if (Model.Pager.CurrentPage > 1)
                                {
                                    <li>
                                        <a class="page-link" href="~/Report/GetAllEmployee?@queryString">First</a>
                                    </li>
                                    <li>
                                        <a class="page-link" href="~/Report/GetAllEmployee?pageIndex=@(Model.Pager.CurrentPage - 1)&@queryString">Previous</a>
                                    </li>
                                }

                                @for (var pageIndex = Model.Pager.StartPage; pageIndex <= EndPage; pageIndex++)
                                {
                                    var myPage = pageIndex;
                                    <li class="@(pageIndex == Model.Pager.CurrentPage ? "active" : "")">
                                        <a class="page-link" href="~/Report/GetAllEmployee?pageIndex=@myPage&@queryString"> @myPage </a>
                                    </li>
                                }

                                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                {
                                    <li>
                                        <a class="page-link" href="~/Report/GetAllEmployee?pageIndex=@(Model.Pager.CurrentPage + 1)&@queryString">Next</a>
                                    </li>
                                    <li>
                                        <a class="page-link" href="~/Report/GetAllEmployee?pageIndex=@(Model.Pager.TotalPages)&@queryString">Last</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="text-center mt-5 text-uppercase" style="color:rgb(18, 38, 63);"><b>@ViewBag.MessageX</b></h4>
            }
            <style>
                .pagination li {
                    margin: 0px 3px;
                }

                .active {
                    font-family: 'Lato';
                }

                    .active a {
                        background: #2b3452;
                    }

                .pagination li a {
                    border-color: #2b3452;
                    padding: 0.2rem;
                }
            </style>
        </div>
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>


    var showEmployee = function (employeeId) {
        //debugger;
        var textEar = $("#validationTextarea_" + employeeId);
        console.log(textEar);
        $.ajax({
            type: "POST",
            url: "ViewEmployeeDetails",
            data: { EmployeeId: employeeId },
            success: function (response) {
                //debugger
                $("#myModalBody").html(response);
                $("#myModal").modal("show");
            }
        })
    }

    var continueFunc = function (continueId, continueBtn, sessionId, lblId) {
        var appId = continueId.value;
        // var appBtn = continueBtn.value;
        // var appsessionId = sessionId.value;

        var el = $(continueId)
        var elBtn = $(continueBtn)
        var elSession = $(sessionId)
        var ellblId = $(lblId)
        $.ajax({
            type: "POST",
            url: "PostEmployeeNew",
            data: {
                emp: appId
            },
            success: function (response) {
                //debugger;
                //alert("Your are here ");
                ellblId.text("Complaince Directive successfly issued!")
                el.remove();
                elBtn.remove();
                elSession.remove();
              
            }

        })
    }


    $(document).ready(function () {
        var selectedItems = []; // Initialize an empty array to store selected values

        $('.checkbox').click(function () { // Attach click event handler to checkboxes
            var checkboxId = $(this).attr('id'); // Get the ID of the clicked checkbox
            if ($(this).is(':checked')) { // Check if the checkbox is checked
                selectedItems.push(checkboxId); // Add the ID to the array if it's checked
                //console.log(selectedItems);
                $("#selectedList").attr({
                    "value": selectedItems,
                });
            } else {
                var index = selectedItems.indexOf(checkboxId); // Find the index of the ID in the array
                if (index !== -1) { // Check if the ID is found in the array
                    selectedItems.splice(index, 1); // Remove the ID from the array if it's unchecked
                    $("#selectedList").attr({
                        "value": selectedItems,
                    });
                }
            }
           // updateSelectedList(); // Update the selected list
        });

        function updateSelectedList() {
            $('#selectedList').empty(); // Clear the list before adding new items
            $.each(selectedItems, function (index, value) {
                $('#selectedList').append('<li>' + value + '</li>'); // Add each selected ID as a list item
              
            });
        }


        //JQuery function to post form data to backend
        $("#btnSubmit").click(function () {
            var model = $("#myForm").serialize();
            //debugger;
            $.ajax({
                type: "POST",
                url: "PostEmployee",
                data: model,
                success: function (response) {
                    //debugger;
                    alert("Your are here");
                }
               
            })
        })


    });

</script>



