@model LevelDetailsViewModel
@inject IDataProtectionProvider dataProtectionProvider
@inject DataProtecionPurposeStrings dataProtecionPurposeStrings
@{
    ViewData["Title"] = "Details";
    IDataProtector protector;
    protector = dataProtectionProvider.CreateProtector(dataProtecionPurposeStrings.EmployeeIdRouteValue);
    var Id = Model.EncryptedId;
    int decryptedId;
    int y;
    if (int.TryParse(Id, out y))
    {
        decryptedId = y;
    }
    else
    {
        decryptedId = Convert.ToInt32(protector.Unprotect(Id));
    }
}

<h1 class="display-4 text-primary text-center">LEVEL DETAILS</h1>
<hr />

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card mt-3">
            <div class="card-header">
                <h1 class="text-center"> @Model.Level.Name</h1>
            </div>
            <div class="card-body" style="margin-left: 35%;">
                <h4>Department ID: @Model.Level.Id</h4>
                <h4>Description: @Model.Level.Description</h4>
                <h4>Date Created: @Model.Level.DateCreated</h4>
                <h4>Date Modified: @Model.Level.DateModified</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Level" asp-action="Index" class="btn btn-outline-primary">Back</a>
                <a asp-action="Edit" asp-controller="Level" asp-route-id="@Model.EncryptedId"
                   class="btn btn-outline-success">Edit</a>
                <a asp-action="Delete" asp-controller="Level" asp-route-id="@Model.EncryptedId" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


